---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=denver,co&key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&to=fairbanks,AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 03:36:11 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.982323,"lat":39.738453},"ul":{"lng":-147.739426,"lat":64.83709}},"distance":3104.3623,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"49:23:42","sessionId":"600653ab-00c9-5f21-02b4-3305-0612945562af","hasAccessRestriction":false,"realTime":197649,"hasSeasonalClosure":false,"hasCountryCross":true,"fuelUsed":146.75,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to FAIRBANKS, AK.","distance":3104.3623,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"49:23:42","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":true,"roadGradeStrategy":[[]],"destIndex":35,"time":177822,"hasUnpaved":false,"origNarrative":"Go
        west on E Colfax Ave/I-70 Bus W/US-40 W/US-287 N.","maneuvers":[{"distance":0.135,"streets":["E
        14th Ave"],"narrative":"Start out going east on E 14th Ave toward N Grant
        St.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:23","directionName":"East","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73845291137695,-104.9823226928711|marker-2||&center=39.73845291137695,-104.98358917236328&defaultMarker=none&zoom=13&rand=-1094393534&session=600653ab-00c9-5f21-02b4-3305-0612945562af","transportMode":"AUTO","attributes":0,"time":23,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":8},{"distance":0.11,"streets":["N
        Logan St"],"narrative":"Turn left onto N Logan St.","turnType":6,"startPoint":{"lng":-104.982323,"lat":39.738453},"index":1,"formattedTime":"00:00:21","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&size=225,160&locations=39.73845291137695,-104.9823226928711|marker-2||39.740047454833984,-104.98233795166016|marker-3||&center=39.73925018310547,-104.98233032226562&defaultMarker=none&zoom=12&rand=-1094393534&session=600653ab-00c9-5f21-02b4-3305-0612945562af","transportMode":"AUTO","attributes":0,"time":21,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/rs_left_sm.gif","direction":1},{"distance":1.482,"streets":["E
        Colfax Ave","I-70 Bus W","US-40 W","US-287 N"],"narrative":"Turn left onto
        E Colfax Ave/I-70 Bus W/US-40 W/US-287 N.","turnType":6,"startPoint":{"lng":-104.982338,"lat":39.740047},"index":2,"formattedTime":"00:03:12","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"70","type":5,"url":"http://icons.mqcdn.com/icons/rs5.png?n=70&d=WEST","direction":7},{"extraText":"","text":"40","type":2,"url":"http://icons.mqcdn.com/icons/rs2.png?n=40&d=WEST","direction":7},{"extraText":"","text":"287","type":2,"url":"http://icons.mqcdn.com/icons/rs2.png?n=287&d=NORTH","direction":1}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&size=225,160&locations=39.740047454833984,-104.98233795166016|marker-3||39.7403450012207,-105.00968170166016|marker-4||&c[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=e4877359abd5071a16726585a704eb6c&lat=64.836661&lon=-147.738891
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":64.8367,"lon":-147.7389,"timezone":"America/Anchorage","timezone_offset":-32400,"current":{"dt":1611027371,"sunrise":1610997463,"sunset":1611017096,"temp":271.28,"feels_like":265.17,"pressure":983,"humidity":44,"dew_point":261.8,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":4.12,"wind_deg":90,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1611025200,"temp":271.28,"feels_like":266.74,"pressure":983,"humidity":44,"dew_point":261.8,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":1.88,"wind_deg":134,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.02},{"dt":1611028800,"temp":269.34,"feels_like":264.91,"pressure":986,"humidity":69,"dew_point":265.03,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":2.11,"wind_deg":72,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1611032400,"temp":268.61,"feels_like":264.14,"pressure":988,"humidity":84,"dew_point":266.58,"uvi":0,"clouds":87,"visibility":10000,"wind_speed":2.4,"wind_deg":62,"weather":[{"id":804,"main":"Clouds","description":"over[...]
