---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=pueblo&sort_by=rating&term=dondondon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer UXxqLQUsLLIWvMOGh5_q1vINKyRdX26SOx-1GvjT8K6UxR4K-NT0R7AZd07VA1JfSzu_Un3usF4HWtF3_JS_h8Pm1QGv_caImrnBtTUt3jRuAp1bDgBkiwNM6PMFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4974'
      X-Zipkin-Id:
      - 4206e6d73b19035a
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-jm8vv; site=public_api_v3
      X-Proxied:
      - 10-69-113-152-uswest2aprod
      X-Extlb:
      - 10-69-113-152-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -104.5733642578125,
        "latitude": 38.27035217485165}}}'
  recorded_at: Tue, 19 Jan 2021 18:37:07 GMT
recorded_with: VCR 6.0.0
