---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=denver&sort_by=rating&term=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer UXxqLQUsLLIWvMOGh5_q1vINKyRdX26SOx-1GvjT8K6UxR4K-NT0R7AZd07VA1JfSzu_Un3usF4HWtF3_JS_h8Pm1QGv_caImrnBtTUt3jRuAp1bDgBkiwNM6PMFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4971'
      X-Zipkin-Id:
      - 8e9ee84ad22dae5a
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-d6s6z; site=public_api_v3
      X-Proxied:
      - 10-69-128-115-uswest2bprod
      X-Extlb:
      - 10-69-128-115-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "F09UpZ29XZkt3TVS3tiJGw", "alias": "harleys-a-hot-dog-revolution-littleton-2",
        "name": "Harley''s: A Hot Dog Revolution", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/eyEj3fLAHYzIO8JfwvKz5g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/harleys-a-hot-dog-revolution-littleton-2?adjust_creative=6fZDPuc_cY6xva6_XLclDg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=6fZDPuc_cY6xva6_XLclDg",
        "review_count": 793, "categories": [{"alias": "hotdog", "title": "Hot Dogs"},
        {"alias": "tradamerican", "title": "American (Traditional)"}], "rating": 5.0,
        "coordinates": {"latitude": 39.612397, "longitude": -105.006361}, "transactions":
        ["pickup", "delivery"], "price": "$", "location": {"address1": "1500 W Littleton
        Blvd", "address2": "Ste 112", "address3": "", "city": "Littleton", "zip_code":
        "80120", "country": "US", "state": "CO", "display_address": ["1500 W Littleton
        Blvd", "Ste 112", "Littleton, CO 80120"]}, "phone": "+17202369617", "display_phone":
        "(720) 236-9617", "distance": 14035.68677509106}], "total": 9000, "region":
        {"center": {"longitude": -104.97024536132812, "latitude": 39.73552421220229}}}'
  recorded_at: Tue, 19 Jan 2021 18:40:05 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=,co&key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&to=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 18:40:05 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.984856,"lat":38.97974},"ul":{"lng":-105.994911,"lat":39.738457}},"distance":117.198,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"02:16:33","sessionId":"60072785-0361-5f21-02b4-3300-0a10803a4a73","hasAccessRestriction":false,"realTime":8679,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":5.1,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to DENVER, CO.","distance":117.198,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"02:16:33","origIndex":3,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":8,"time":8193,"hasUnpaved":true,"origNarrative":"Go
        west on US-24 W.","maneuvers":[{"distance":0.32,"streets":["County Road 92"],"narrative":"Start
        out going northwest on County Road 92 toward 39 Mile Rd/County Hwy-59.","turnType":0,"startPoint":{"lng":-105.570251,"lat":38.97974},"index":0,"formattedTime":"00:00:26","directionName":"Northwest","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&size=225,160&locations=38.979740142822266,-105.57025146484375|marker-1||38.98293685913086,-105.57456970214844|marker-2||&center=38.98133850097656,-105.5724105834961&defaultMarker=none&zoom=11&rand=-2045183787&session=60072785-0361-5f21-02b4-3300-0a10803a4a73","transportMode":"AUTO","attributes":0,"time":26,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":2},{"distance":2.395,"streets":["County
        Road 59"],"narrative":"County Road 92 becomes County Road 59.","turnType":0,"startPoint":{"lng":-105.57457,"lat":38.982937},"index":1,"formattedTime":"00:03:15","directionName":"Northwest","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&size=225,160&locations=38.98293685913086,-105.57456970214844|marker-2||39.006866455078125,-105.6067886352539|marker-3||&center=38[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=e4877359abd5071a16726585a704eb6c&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611081606,"sunrise":1611065827,"sunset":1611101043,"temp":274.35,"feels_like":270.36,"pressure":1024,"humidity":29,"dew_point":259.86,"uvi":1.87,"clouds":100,"visibility":10000,"wind_speed":0.89,"wind_deg":177,"wind_gust":4.47,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1611079200,"temp":274.35,"feels_like":270.24,"pressure":1024,"humidity":29,"dew_point":259.86,"uvi":1.65,"clouds":100,"visibility":10000,"wind_speed":1.07,"wind_deg":129,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1611082800,"temp":273.95,"feels_like":269.59,"pressure":1028,"humidity":51,"dew_point":265.88,"uvi":1.87,"clouds":100,"visibility":10000,"wind_speed":2.07,"wind_deg":166,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1611086400,"temp":274.41,"feels_like":269.92,"pressure":1029,"humidity":61,"dew_point":268.34,"uvi":1.67,"clouds":99,"visibility":10000,"wind_speed":2.63,"wind_deg":162,"weather":[{"id":804,"main":"Clouds","descrip[...]
