---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&to=New%20York,%20NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 00:20:59 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":true,"hasBridge":true,"boundingBox":{"lr":{"lng":-74.002541,"lat":39.738453},"ul":{"lng":-105.011559,"lat":41.603584}},"distance":1782.4399,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"26:16:46","sessionId":"600625ea-0388-5f21-02b4-3331-0a2ca61e05f5","hasAccessRestriction":false,"realTime":96275,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":88.62,"legs":[{"hasTollRoad":true,"hasBridge":true,"destNarrative":"Proceed
        to NEW YORK, NY.","distance":1782.4399,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"index":0,"formattedTime":"26:16:46","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":18,"time":94606,"hasUnpaved":false,"origNarrative":"Go
        west on E Colfax Ave/I-70 Bus W/US-40 W/US-287 N.","maneuvers":[{"distance":0.135,"streets":["E
        14th Ave"],"narrative":"Start out going east on E 14th Ave toward N Grant
        St.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:23","directionName":"East","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73845291137695,-104.9823226928711|marker-2||&center=39.73845291137695,-104.98358917236328&defaultMarker=none&zoom=13&rand=33930044&session=600625ea-0388-5f21-02b4-3331-0a2ca61e05f5","transportMode":"AUTO","attributes":0,"time":23,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":8},{"distance":0.11,"streets":["N
        Logan St"],"narrative":"Turn left onto N Logan St.","turnType":6,"startPoint":{"lng":-104.982323,"lat":39.738453},"index":1,"formattedTime":"00:00:21","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&size=225,160&locations=39.73845291137695,-104.9823226928711|marker-2||39.740047454833984,-104.98233795166016|marker-3||&center=39.73925018310547,-104.98233032226562&defaultMarker=none&zoom=12&rand=33930044&session=600625ea-0388-5f21-02b4-3331-0a2ca61e05f5","transportMode":"AUTO","attributes":0,"time":21,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/rs_left_sm.gif","direction":1},{"distance":1.482,"streets":["E
        Colfax Ave","I-70 Bus W","US-40 W","US-287 N"],"narrative":"Turn left onto
        E Colfax Ave/I-70 Bus W/US-40 W/US-287 N.","turnType":6,"startPoint":{"lng":-104.982338,"lat":39.740047},"index":2,"formattedTime":"00:03:12","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"70","type":5,"url":"http://icons.mqcdn.com/icons/rs5.png?n=70&d=WEST","direction":7},{"extraText":"","text":"40","type":2,"url":"http://icons.mqcdn.com/icons/rs2.png?n=40&d=WEST","direction":7},{"extraText":"","text":"287","type":2,"url":"http://icons.mqcdn.com/icons/rs2.png?n=287&d=NORTH","direction":1}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&size=225,160&locations=39.740047454833984,-104.98233795166016|marker-3||39.7403450012207,-105.00968170166016|marker-4||&c[...]
