---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?count=5&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - da831f6a1c1a4c18befb57ba8d3ce0b7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 633F3B12DC40476FB6CFE992BE67F42D
      X-Msedge-Clientid:
      - '09A249686CAA6D0308E546AA6DE66C4A'
      X-Msapi-Userstate:
      - a772
      X-Search-Responseinfo:
      - InternalResponseTime=159,MSDatacenter=CO4
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=denver,co",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=denver,co&FORM=OIIARP",
        "queryContext": {"originalQuery": "denver,co", "alterationDisplayQuery": "\"denver
        co\"", "alterationOverrideQuery": "+denver,co", "alterationMethod": "AM_ChangeItWithRecourse",
        "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        1000, "nextOffset": 5, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=denver%2cco&id=E6E8D3F0074E88FAB438678A091B7DAA8D4DFA5B&simid=608008305633265249",
        "name": "Denver, CO Housing Market, Trends, and Schools - realtor.com®", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.sWBoKQUmzYNWmZUYpbQBoAHaC1&pid=Api",
        "datePublished": "2018-09-30T21:24:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/local-store-res.cloudinary.com\/image\/upload\/w_1440,h_550,c_fill,q_80,f_auto\/Denver_CO-07b-hero-1440x550-4_fbkh8v",
        "hostPageUrl": "https:\/\/www.realtor.com\/local\/Denver_CO", "contentSize":
        "130775 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/www.realtor.com\/local\/Denver_CO",
        "width": 1440, "height": 550, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.nnR-nGQcV0UZa2928DTdkQ&pid=Api",
        "hostPageDomainFriendlyName": "Realtor.com", "hostPageDiscoveredDate": "2017-09-13T00:00:00.0000000Z",
        "thumbnail": {"width": 474, "height": 181}, "imageInsightsToken": "ccid_sWBoKQUm*cp_58456D993B9720DCE6C3853D27593985*mid_E6E8D3F0074E88FAB438678A091B7DAA8D4DFA5B*simid_608008305633265249*thid_OIP.sWBoKQUmzYNWmZUYpbQBoAHaC1",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 2, "availableSizesCount":
        1}, "imageId": "E6E8D3F0074E88FAB438678A091B7DAA8D4DFA5B", "accentColor":
        "A57D26"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=denver%2cco&id=0DE5E9A02F67892763142FB7C5EE1AFBDBB3C411&simid=608008915508332239",
        "name": "Personal Success Certification Training: Denver, CO | True Colors
        Intl. | Personality Assessment ...", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.l48GaJ3LZtg6AL_2MXBvmgHaDm&pid=Api",
        "datePublished": "2020-05-12T11:18:00.0000000Z", "isFamilyFriendly": true,
        "[...]
