---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?count=5&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - da831f6a1c1a4c18befb57ba8d3ce0b7
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8359FD262A324107956D82B2AE734C94
      X-Msedge-Clientid:
      - 32140D73755D6AC2331A02B074116B31
      X-Msapi-Userstate:
      - cca0
      X-Search-Responseinfo:
      - InternalResponseTime=6,MSDatacenter=CO4
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "ErrorResponse", "instrumentation": {"_type": "ResponseInstrumentation"},
        "errors": [{"code": "InvalidRequest", "subCode": "ParameterMissing", "message":
        "Required parameter is missing.", "moreDetails": "Required parameter is missing.",
        "parameter": "q", "value": ""}]}'
  recorded_at: Mon, 18 Jan 2021 15:37:13 GMT
recorded_with: VCR 6.0.0
