---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=e4877359abd5071a16726585a704eb6c&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610905838,"sunrise":1610893087,"sunset":1610928108,"temp":278.59,"feels_like":275.73,"pressure":1019,"humidity":49,"dew_point":269.24,"uvi":1.59,"clouds":100,"visibility":10000,"wind_speed":0.45,"wind_deg":172,"wind_gust":1.79,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1610905860,"precipitation":0},{"dt":1610905920,"precipitation":0},{"dt":1610905980,"precipitation":0},{"dt":1610906040,"precipitation":0},{"dt":1610906100,"precipitation":0},{"dt":1610906160,"precipitation":0},{"dt":1610906220,"precipitation":0},{"dt":1610906280,"precipitation":0},{"dt":1610906340,"precipitation":0},{"dt":1610906400,"precipitation":0},{"dt":1610906460,"precipitation":0},{"dt":1610906520,"precipitation":0},{"dt":1610906580,"precipitation":0},{"dt":1610906640,"precipitation":0},{"dt":1610906700,"precipitati[...]
