---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=denver,co&sort_by=rating&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-btwtf; site=public_api_v3
      X-Zipkin-Id:
      - 73259959120f6873
      X-Proxied:
      - 10-69-172-176-uswest2bprod
      X-Extlb:
      - 10-69-172-176-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "''Bearer'' does
        not match ''^(?i)Bearer [A-Za-z0-9\\\\-\\\\_]{128}$''", "field": "Authorization",
        "instance": "Bearer"}}'
  recorded_at: Tue, 19 Jan 2021 16:28:31 GMT
recorded_with: VCR 6.0.0
