---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&location=%22denver,co%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 18 Jan 2021 04:41:08 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"\"denver,co\""},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-964502370"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-739027893"}]}]}'
  recorded_at: Mon, 18 Jan 2021 04:41:08 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=e4877359abd5071a16726585a704eb6c&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610944868,"sunrise":1610893087,"sunset":1610928108,"temp":277.28,"feels_like":274.19,"pressure":1012,"humidity":47,"dew_point":267.68,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":0.51,"wind_deg":231,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1610944920,"precipitation":0},{"dt":1610944980,"precipitation":0},{"dt":1610945040,"precipitation":0},{"dt":1610945100,"precipitation":0},{"dt":1610945160,"precipitation":0},{"dt":1610945220,"precipitation":0},{"dt":1610945280,"precipitation":0},{"dt":1610945340,"precipitation":0},{"dt":1610945400,"precipitation":0},{"dt":1610945460,"precipitation":0},{"dt":1610945520,"precipitation":0},{"dt":1610945580,"precipitation":0},{"dt":1610945640,"precipitation":0},{"dt":1610945700,"precipitation":0},{"dt":1610945760,"precipitati[...]
