---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&location=washington,D.C.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 18 Jan 2021 03:39:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"washington,D.C."},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Washington","adminArea5Type":"City","adminArea4":"District
        of Columbia","adminArea4Type":"County","adminArea3":"DC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282772166","unknownInput":"","type":"s","latLng":{"lat":38.892062,"lng":-77.019912},"displayLatLng":{"lat":38.892062,"lng":-77.019912},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&type=map&size=225,160&locations=38.892062,-77.019912|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1630274605"}]}]}'
  recorded_at: Mon, 18 Jan 2021 03:39:53 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=e4877359abd5071a16726585a704eb6c&lat=38.892062&lon=-77.019912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1610941193,"sunrise":1610886247,"sunset":1610921521,"temp":277.82,"feels_like":272.99,"pressure":1008,"humidity":60,"dew_point":271.01,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":3.6,"wind_deg":210,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1610941200,"precipitation":0},{"dt":1610941260,"precipitation":0},{"dt":1610941320,"precipitation":0},{"dt":1610941380,"precipitation":0},{"dt":1610941440,"precipitation":0},{"dt":1610941500,"precipitation":0},{"dt":1610941560,"precipitation":0},{"dt":1610941620,"precipitation":0},{"dt":1610941680,"precipitation":0},{"dt":1610941740,"precipitation":0},{"dt":1610941800,"precipitation":0},{"dt":1610941860,"precipitation":0},{"dt":1610941920,"precipitation":0},{"dt":1610941980,"precipitation":0},{"dt":1610942040,"precipitati[...]
