---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=%23$%25*%26&key=bzcIdGGNFL1s1C9mAM4OsLRf25V2Z2TP&to=knack%20knack
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 17:06:44 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"collections":[],"info":{"statuscode":500,"copyright":{"imageAltText":"©
        2020 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","text":"©
        2020 MapQuest, Inc."},"messages":["Error processing request: Encountered an
        error while trying to batch geocode: Geocode Failed: A JSONObject text must
        begin with ''{'' at character 0 of "]}}'
  recorded_at: Tue, 19 Jan 2021 17:06:44 GMT
recorded_with: VCR 6.0.0
