---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?count=5&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - da831f6a1c1a4c18befb57ba8d3ce0b7
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6D4E6A01620746989A9AC3B1BDB9BB2D
      X-Msedge-Clientid:
      - 05AB1929F3FB6FD0210D16EAF2B76ED9
      X-Msapi-Userstate:
      - 5a67
      X-Search-Responseinfo:
      - InternalResponseTime=7,MSDatacenter=CO4
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "ErrorResponse", "instrumentation": {"_type": "ResponseInstrumentation"},
        "errors": [{"code": "InvalidRequest", "subCode": "ParameterMissing", "message":
        "Required parameter is missing.", "moreDetails": "Required parameter is missing.",
        "parameter": "q", "value": ""}]}'
  recorded_at: Mon, 18 Jan 2021 15:56:27 GMT
recorded_with: VCR 6.0.0
